{% load i18n %}
{% load static %}
{% load course %}
{% load exercise %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ current.name|parse_localization }}</title>

        <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

        <link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/styles/github.min.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js"></script>

        <link rel="stylesheet" href="{% static 'css/main.css' %}" />
        <link rel="stylesheet" href="{% static 'css/submission.css' %}" />

        <script>
         // Add an Ajax exercise event listener to refresh the summary.
             window.addEventListener("message", function (event) {
                 if (event.data.type === "a-plus-refresh-stats") {
                     $.ajax(window.location.href, {dataType: "html"})
                      .done(function(data) {
                          $(".exercise-summary").empty().append(
                              $(data).find(".exercise-summary").contents());
                      });
                 }
             });
        </script>

        {{ page.head|safe }}
    </head>
    <body>
        <div id="exercise-all">
            <div class="overlay-parent">

                {% if issues and not submission_allowed %}
                    {% include 'exercise/_warnings_overlay.html' %}
                {% endif %}

                {% if exercisecollection_data %}
                    {% include 'exercise/_exercisecollection.html' %}

                {% elif exercise.is_submittable %}
                    <nav class="exercise-summary navbar navbar-default">
                        <ul class="nav navbar-nav navbar-left exercise-nav ">
                            <li>
                                {% if exercise.difficulty %}                 
                                <h3 class="exercise-title-new">{{ exercise|parse_localization }}</h3>
                                
                                <small class="difficulty">Difficulty: {{ exercise.difficulty }}</small>
                                {% else %}
                                <h3 class="exercise-title-no">{{ exercise|parse_localization }}</h3>
                                
                                {% endif %}

                            </li>

                        </ul>
                        <ul class="nav navbar-nav navbar-right exercise-nav">
                            <li class="exercise-repeat">
                                <i class="glyphicon glyphicon-repeat"></i>
                            </li>
                            <li class="exercise-points">
                                <p class="exercise-points">{% if not exercise.category.confirm_the_level %}
                                    {% trans "Points" %}
                                    {% endif %}
                                </p>
                                <h4 class="exercise-points-h4">

                                    {% with submissions|last as lastest %}
                                    {% if not lastest %} 
                                    0
                                    {% endif %}
                                    {{ lastest.service_points }} /
                                    {% endwith %}
                                    {{ exercise.max_points }}
                                </h4>
                            </li>

                        </ul>
                    </nav>
                {% endif %}
                <nav class="exercise-submission-section navbar navbar-default">
                    <div class="nav navbar-nav navbar-left">
                    <p class="date">
                            
                        {% if exercise.points_to_pass > 0 %}
                        {% blocktrans with points=exercise.points_to_pass %}
                            {{ points }} points required to pass.
                        {% endblocktrans %}
                        {% elif exercise.max_points == 15 %}
                            You have passed this exercise, but can try for more points!
                                            
                        {% else %}
                            {% trans "Deadline" %}:
                            {{ module.closing_time }}
                        {% endif %}
                    
                    </p>
                     </div>
                     <div class="submission-section nav navbar-nav navbar-right">
                    <a class="btn btn-default summary-btn" href="{{ exercise|url:'exercise-template' }}">
                        <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                        {% trans "Exercise template" %}
                    </a>
                    {% if is_course_staff or is_student and exercise.can_show_model_solutions %}
                            {% comment %} The model solution link is shown even if the student can not
                            open it due to personal extensions. However, this saves some database queries.
                            {% endcomment %}
                            {% if exercise.model_answers %}
                                <a class="btn btn-default summary-btn" href="{{ exercise|url:'exercise-model' }}">
                                    <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                                    {% trans "Model answer" %}
                                </a>
                            {% endif %}
                        {% endif %}
                            </div>
                            </nav>
               
<!--             
                <div class="alert alert-error">
                    <p>This code is totally broken. You should write it again.
                    </p>
                </div>
                <div class="alert alert-whoopsie">
                    <p>This code is totally broken. You should write it again.
                    </p>
                </div>
-->           
            
<!--                <div class="alert alert-loading">
                    <p>Submission is being sent, yay!
                    </p>
                    <div class="progress-bar progress-bar-striped active" role="progressbar">Submitting...</div>

                </div>
-->                

                <span>  <i class="glyphicon gliphicon-remove"></i></span>

                <div class="whatever-feedback ">
                    <p>{{ exercise.description }}
                    </p>
                </div>

                <div
                        class="exercise-response"
                        data-aplus-group="{{ exercise.min_group_size }}-{{ exercise.max_group_size }}"
                        {% if summary.get_submission_count > 0 %}
                            data-aplus-group-fixed="{{ summary.get_group_id }}"
                        {% endif %}
                        {% if disable_submit %}
                            data-aplus-disable-submit="true"
                        {% endif %}
                    >
                    <div>

                        {% if page.content.strip %} 
                            {{ page.content|safe }}
                        {% elif submission and submission.status == "waiting" %}
                            <div class="alert alert-info">
                                {% trans "Your submission has been accepted for grading." %}
                            </div>
                        {% endif %}
                    </div>


                    {% include "exercise/_exercise_wait.html" %}
                </div>
                <div class="submissions-left">
                
                    <div href="#are-you-sure" data-toggle="collapse" role="button" aria-controls="are-you-sure" aria-expanded="false" class="alert alert-default" class="btn btn-default exercise-page-modal">Submissions left: 0/3</div>
                
                </div>
                <div class="alert alert-default collapse" id="are-you-sure">

                    <p>
                        You are about to submit these answers.
                        You're limited to 3 submissions.
                    </p>
                    <p>
                        Are you sure you want to submit this now?
                    </p>                    
                    <div class="btn btn-default">
                        Change answers
                    </div>
                    <div class="btn btn-primary">
                        Submit
                    </div>    
                </div>
                <a href="#my-subs" data-toggle="collapse" role="button" aria-controls="are-you-sure" aria-expanded="false" class="btn btn-default btn-block my-sub">
                    <i class="glyphicon glyphicon-list" aria-hidden="true"> </i>
                    {% trans "My submissions" %}  
                    <span class="caret"></span>

                </a>                    
                    <div class="collapse" id="my-subs">
                    <ul class="list-group">
                        {% for submission in submissions %}
                            {% if forloop.revcounter < 3 %}
                            <div class="confirmed-sub">
                                <a class="list-group-item" href="{{ submission|url:'submission-plain' }}">
                                    {{ forloop.revcounter }}.
                                    {{ submission.submission_time }}
                                    {% points_badge submission %}
                                </a>
                            </div>
                            {% elif forloop.counter > 3 %}
                            <div class="late-sub">
                                <a class="list-group-item" href="{{ submission|url:'submission-plain' }}">
                                    {{ forloop.revcounter }}.
                                    {{ submission.submission_time }}
                                    {% points_badge submission %}
                                </a>
                            </div>
                            {% elif forloop.revcounter == 4 %}
                            <div class="dividing-sub">
                                <a class="list-group-item" style="border-top: solid 3px #ccc" href="{{ submission|url:'submission-plain' }}">
                                    {{ forloop.revcounter }}.
                                    {{ submission.submission_time }}
                                    {% points_badge submission %}
                                </a>
                            </div>
                            {% endif %}
                        {% empty %}
                            <li>
                                <a href="#">{% trans "No submissions yet" %}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    </div>
                    </li>
            </div>

        </div>
        
    </body>
</html>
